  .current-articles, .animal-news {
    padding: 18px;
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .current-article, .animal-new {
    position: relative;
    margin: 10px;
    /* width: 250px; */
    width: 270px;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    border-top: 5px solid var(--header-border-color);
  }

  .current-article-dog::before {
    content: "куче";
    background-color: var(--header-border-color);
    position: absolute;
    color: var(--text-color-footer);
    font-weight: 900;
    opacity: 1;
    z-index: 10;
    padding: 8px;
  }

  .current-article-cat::before {
    content: "котка";
    background-color: var(--background-color-dark-orange);
    position: absolute;
    color: var(--text-color-footer);
    font-weight: 900;
    opacity: 1;
    z-index: 10;
    padding: 8px;
    /* margin-left: 187px; */
  }

  .top-article {
    position: absolute;
    margin: 10px;
    width: 250px;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    border-top: 5px solid var(--header-border-color);
    position-area: top left;
    top: 126px;
    left: 18px;
  }


  .current-article:hover, .animal-new:hover {
    /* scale: 1.06;
    transition: 0.3s ease; */
    transform: translateY(-20px);

  }

  .current-article img, .animal-new img {
    width: 100%;
    height: 147px;
    object-fit: cover;
    opacity: 0.8;
  }

  .current-article-title, .animal-new-title {
    width: 100%;
    padding: 7px 18px 27px 18px;
    background-color: var(--header-color);
    /* text-align: justify; */
    word-break: break-word;
    height: 109px;
  }

  .current-article-title h4, .animal-new-title h4 {
    font-size: 18px;
    margin-left: 7px;
    color: var(--header-border-color);
    border-bottom: 2px solid var(--header-border-color);
    text-wrap-mode: nowrap;
  }

  .current-article-title p, .animal-new-title p {
    font-size: 13px;
    margin-left: 7px;
    padding-top: 8px;
    color: var(--text-color);
    font-weight: 700;
  }

  .current-article-title a, .animal-new-title a {
    text-decoration: none;
    color: inherit;
  }


  @media (max-width: 1100px) {

    .current-articles, .animal-news {
      display: flex;
      flex-direction: column;
      background-color: transparent;
      padding: 10px;
    }

    .current-article, .animal-new {
      width: 100%;
      margin: 0;
      padding: 10px;
      display: flex;
      border: 0px solid;
      border-top: 0.6px solid var(--background-color-scroll-indicator);
      border-bottom: 0.6px solid var(--background-color-scroll-indicator);
      border-radius: 0;
      box-shadow: 0 0 black;
    }

  .current-article:hover, .animal-new:hover {
    transform:none;

  }

    .current-article img, .animal-new img {
      width: 45%;
      border-radius: 0.75em;
      margin: 10px;
      height: 120px;
    }

    .current-article-title, .animal-new-title {
      height: 100%;
      background-color: transparent;
      padding: 0;
      padding-top: 10px;
      text-align: left;
      box-shadow: 0 0 black;
    }

    .current-article-title h4, .animal-new-title h4 {
      font-size: 1rem;
      margin-left: 7px;
      color: var(--text-color-dark-orange);
      text-decoration-line: none;
      margin-bottom: 8px;
    }

    
    .top-article {
      display: none;
    }
  }
  

  

/* TODAYS BREED */

#todaysDogBreed, #todaysCatBreed {
  text-align: -webkit-center;
}

.todays-breed {
  width: fit-content;
  margin: auto;
  padding: 20px;
  background-image: linear-gradient(110deg, var(--header-border-color) 60%, var(--text-color-light-orange) 60%);
}

.todays-breed-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.todays-breed-outside-box a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.todays-breed-text {
  font-size: 48px;
  text-align: center;
  color: #dedede;
  font-weight: 800;
  background-color: var(--text-color-dark-blue);
}

.todays-breed-box-cat {
  margin: 16px;
  background: url(./img/article-baner.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 200px;
  width: 200px;
  box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
  animation: animateTodaysBreedCat 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
  filter: brightness(0.5);
}

.todays-breed-box-dog {
  margin: 16px;
  background: url(./img/article-baner.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 200px;
  width: 200px;
  box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
  animation: animateTodaysBreedDog 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
  filter: brightness(0.5);
}

@keyframes animateTodaysBreedCat {
  0%    {border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;}
  50%   {border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;}
  100%  {border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;}
}

@keyframes animateTodaysBreedDog {
  0%    {border-radius: 70% 40% 30% 60% /30% 60% 50% 60% ;}
  50%   {border-radius: 30% 70% 60% 40% /70% 40% 60% 30% ;}
  100%  {border-radius: 70% 40% 30% 60% /30% 60% 50% 60% ;}
}

.todays-breed-name-dog, .todays-breed-name-cat {
    font-size: 20px;
    padding: 8px;
    margin: 12px;
    text-align: center;
    text-decoration-line: underline;
    text-underline-position: under;
    color: var(--header-border-color);
    font-weight: 800;
    background-color: var(--text-color-light);
}

@media (max-width: 1100px) {
  
.todays-breed {
    padding: 0;
    border-radius: 0;
    width: 95%;
}


  .todays-breed-wrapper {
    flex-direction: column;
  }

  .todays-breed-text {
    font-size: 2rem;
    padding: 12px;
  }

  .todays-breed-outside-box {
    padding: 30px;
  }

  .todays-breed-box-cat, .todays-breed-box-dog {
    /* width: 100%; */
    height: 200px;
    margin: 0;
  }

  .todays-breed-name {
    padding: 20px;
  }

}




/* TODAYS ARTICLES */

#todaysDogArticle, #todaysCatArticle {
  text-align: -webkit-center;
}

.todays-article {
  width: fit-content;
  margin: auto;
  padding: 20px;
  background-image: linear-gradient(110deg, var(--text-color-light-orange) 60%, var(--header-border-color) 60%);
}

.todays-article-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.todays-article-outside-box a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.todays-article-text {
  font-size: 48px;
  text-align: center;
  color: #dedede;
  font-weight: 800;
  background-color: var(--text-color-dark-blue);
}

.todays-article-box-cat {
  margin: 16px;
  background: url(./img/article-baner.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 200px;
  width: 200px;
  box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
  animation: animateTodaysBreedCat 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
  filter: brightness(0.5);
}

.todays-article-box-dog {
  margin: 16px;
  background: url(./img/article-baner.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 200px;
  width: 200px;
  box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
  animation: animateTodaysBreedDog 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
  filter: brightness(0.5);
}

@keyframes animateTodaysBreedCat {
  0%    {border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;}
  50%   {border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;}
  100%  {border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;}
}

@keyframes animateTodaysBreedDog {
  0%    {border-radius: 70% 40% 30% 60% /30% 60% 50% 60% ;}
  50%   {border-radius: 30% 70% 60% 40% /70% 40% 60% 30% ;}
  100%  {border-radius: 70% 40% 30% 60% /30% 60% 50% 60% ;}
}

.todays-article-name-dog, .todays-article-name-cat {
    font-size: 20px;
    padding: 8px;
    margin: 12px;
    text-align: center;
    text-decoration-line: underline;
    text-underline-position: under;
    color: var(--header-border-color);
    font-weight: 800;
    background-color: var(--text-color-light);
}

@media (max-width: 1100px) {
  
.todays-article {
    padding: 0;
    border-radius: 0;
    width: 95%;
}


  .todays-article-wrapper {
    flex-direction: column;
  }

  .todays-article-text {
    font-size: 2rem;
    padding: 12px;
  }

  .todays-article-outside-box {
    padding: 30px;
  }

  .todays-article-box-cat, .todays-article-box-dog {
    width: 100%;
    height: 250px;
    margin: 0;
  }

  .todays-article-name {
    padding: 20px;
  }

}



/* ARROW POINTING DOWN */

#arrow-pointing-down {
  position: fixed; 
  z-index: 100; 
  bottom: 0px; 
  position-area: bottom center;
}