
/* HOME CHOOSE PET BUTTONS */
.choose-pet-text {
    display: block;
    margin-top: 36px;
    padding-top: 87px;
    text-align: -webkit-center;
    font-size: x-large;
    font-style: oblique;
}

.choose-pet-buttons {
    display: block;
    text-align: -webkit-center;
}

.choose-pet {
    display: flex;
    justify-content: center;
}

#home--cat-button, #home--dog-button {
    position: relative;
    background-color: #444;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    width: 200px;
    margin: 20px;
    cursor: pointer;
}

#home--cat-button:hover, #home--dog-button:hover {
    letter-spacing: 0.25em;
    background-color: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

#home--cat-button::before, #home--dog-button::before {
    content: '';
    position: absolute;
    inset: 2px;
    background-color:  var(--background-color);
}


#home--cat-button span, #home--dog-button span {
    position: relative;
    z-index: 1;    
}
#home--cat-button i, #home--dog-button i {
    position: absolute;
    inset: 0;
    display: block;
}

#home--cat-button i::before, #home--dog-button i::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 93%;
    transform: translate(50%);
    width: 10px;
    height: 10px;
    background-color:  var(--background-color);
    border: 2px solid var(--clr);
    transition: 0.5s;
}

#home--cat-button:hover i::before, #home--dog-button:hover i::before {
    left: 0%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 33px 33px var(--clr);
}

#home--cat-button i::after, #home--dog-button i::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: -11px;
    transform: translate(50%);
    width: 10px;
    height: 10px;
    background-color: var(--background-color);
    border: 2px solid var(--clr);
    transition: 0.5s;
}

#home--cat-button:hover i::after, #home--dog-button:hover i::after {
    left: 100%;
    transform: translateX(-50%) rotate(-45deg);
    box-shadow: 33px -33px var(--clr);
}


    /* HOME MENUS */

/* home-MENU cat on HOME*/
.home--cat {
    width: 343px;
    height: 446px;
    padding: 89px 0px 0px 167px;
    margin-bottom: 50px;
    background-image: url(../@img/home/cat-play.png);
    background-repeat: no-repeat;
    padding-top: 204px;
    padding-left: 4px;
    background-position: right;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

/* .home--cat::after {
    position: absolute;
    content: "коте";
    font-size: 74px;
    font-weight: 900;
    rotate: 51deg;
    right: 60px;
    color: #bdbdbd7a;
    z-index: 1;
} */

.home-menu {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 0;
    display: flex;
    transform: rotate(90deg);
    z-index: 10;
}

.home-menu li {
    position: absolute;
    left: -110px;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform-origin: 140px;
    transform: rotate(90deg) translate(110px);
}

.home-menu.active li {
    transform: rotate(calc(180deg / 6 * var(--i))) translateX(-45px);
}
.home-menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    /* color: var(--clr); */
    border: 4px solid var(--clr);
    border-radius: 50%;
    font-size: 1.5em;
    transform: rotate(calc((180deg / -6 * var(--i)) - 90deg));
    transition: 1s;
    background: var(--background-color);
}

.home-menu li a ion-icon {
    color: inherit;
}

.home-menu li a:hover {
    transition: 0s;
    background: var(--clr);
    color: #333;
    /* box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 50px var(--clr); */
}

.home-menu .home-toggle {
    position: absolute;
    width: 60px;
    height: 60px;
    background: var(--header-border-color);
    border: 4px solid #036c6d;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10000;
    font-size: 2em;
    transition: transform 1.25s;
}

.home-menu.active .home-toggle {
    transform: rotate(315deg);
    z-index: 10;
}

.tooltip {
    visibility: hidden;
    width: 132px;
    height: 46px;
    background-color: var(--background-color-home-menu);
    color: var(--text-color);
    text-align: center;
    /* border-radius: 6px; */
    padding: 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    rotate: calc((180deg / -6 * var(--i)) - 90deg);
    transform: translate(68px, -4px);
    margin: -55px -69px;
    border: 2px solid #444;
    font-size: 13px;
}

.home-menu.active .tooltip {
    visibility: visible;
    opacity: 1;
    transition: all 2s;
}

.home-menu li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}





/* HOME MENU FOR DOG */
.home--dog {
    width: 343px;
    height: 446px;
    margin-bottom: 50px;
    background-image: url(../@img/home/dog-sit.png);
    background-repeat: no-repeat;
    padding-top: 207px;
    padding-left: 166px;
    background-position: left;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}
/* 
.home--dog::after {
    position: absolute;
    content: "куче";
    font-size: 68px;
    font-weight: 900;
    rotate: -69deg;
    left: 19px;
    color: #bdbdbd7a;
} */

.home-menu--dog {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 0;
    display: flex;
    transform: rotate(280deg);
    z-index: 10;
}

.home-menu--dog li {
    position: absolute;
    left: -110px;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform-origin: 140px;
    transform: rotate(90deg) translate(110px);
}

.home-menu--dog.active li {
    transform: rotate(calc(180deg / 6 * var(--i))) translateX(-45px);
}
.home-menu--dog li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    /* color: var(--clr); */
    border: 4px solid var(--clr);
    border-radius: 50%;
    font-size: 1.5em;
    transform: rotate(calc((180deg / -6 * var(--i)) - 280deg));
    transition: 1s;
    background: var(--background-color);
}

.home-menu--dog li a ion-icon {
    color: inherit;
}

.home-menu--dog li a:hover {
    transition: 0s;
    background: var(--clr);
    color: #333;
    /* box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 50px var(--clr); */
}

.home-menu--dog .home-toggle--dog {
    position: absolute;
    width: 60px;
    height: 60px;
    background: var(--text-color-red);
    border: 4px solid #be290b;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10000;
    font-size: 2em;
    transition: transform 1.25s;
    rotate: -10deg;
}

.home-menu--dog.active .home-toggle--dog {
    transform: rotate(315deg);
}


.tooltip--dog {
    visibility: hidden;
    width: 104px;
    height: 42px;
    background-color: var(--background-color-home-menu);
    color: var(--text-color);
    text-align: center;
    /* border-radius: 6px; */
    padding: 8px 0px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    rotate: calc((180deg / -6 * var(--i)) - 280deg);
    /* transform: translate(77px, -4px);
    margin: -47px -14px; */
    transform: translate(77px, -4px);
    margin: -60px -20px;
    font-size: 13px;
    border: 2px solid #444;
}

.home-menu--dog li:hover .tooltip--dog {
    visibility: visible;
    opacity: 1;
}

.home-menu--dog.active .tooltip--dog {
    visibility: visible;
    opacity: 1;
    transition: all 2s;
}




@media (min-width: 1100px) {
    .choose-pet-buttons {
        display: none;
    }

    .home--cat, .home--dog {
        display: block;
    }

    .tooltip {
        width: 112px;
        padding: 8px 0px;
        transform: translate(48px, -4px);
    }
    
    .tooltip--dog {
        transform: translate(-93px, 6px);
    }

    .choose-pet-text {
        padding-top: 6px;
    }
}