#calculator-compare {
    display: flex;
}

#food-one {
    background: var(--background-color-button);
    padding: 12px;
}

#food-two {
    background: var(--header-border-color);
    padding: 12px;
}

#food-one p, #food-two p, .food-one, .food-two {
    color: var(--background-color-footer);
    font-weight: 700;
}

.food-box-input {
    width: 230px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}
.food-box-input input {
    border: 0;
    background-color: var(--header-color);
}

.food-box-input-option {
    width: 230px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.food-box-input-option p {
    width: 100%;
}

.food-box-input-option input, .food-box-input-option select {
    width: 50%;
    background-color: var(--header-color);
    border: 0;
}

.food-box-input-option select {
    border-left: 0.1px solid hsl(0deg 0% 50% / 50%);
}

input {
    font-size: 16px;
    padding: 4px;
}

#compareBtn {
    width: 508px;
    padding: 10px;
    color: var(--text-color-calendar);
    background: var(--text-color-light);
    border: 0.06px solid #919191;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    cursor: pointer;
}

.food-one {
    background: var(--background-color-button);
    padding: 12px;
    width: 254px;
}

.food-two {
    background: var(--header-border-color);
    padding: 12px;
    width: 254px;
}

#food-result {
    margin-top: 24px;
}

#food-result p {
    width: 508px;
    padding: 10px;
    color: var(--text-color-calendar);
    background: var(--text-color-light);
    border: 0;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}


@media (max-width: 1100px) {
    #calculator-compare {
        flex-direction: column;
        text-align: -webkit-center;
    }

    #compareBtn {
        width: 100%;
    }

    #food-result p {
        width: 100%;
    }
}